aiohttp==2.3.10
async-timeout==2.0.1
certifi==2018.11.29
chardet==3.0.4
Click==7.0
cssselect==1.0.1
Flask==1.0.2
gunicorn==19.9.0
idna==2.8
idna-ssl==1.1.0
itsdangerous==1.1.0
Jinja2==2.10
lxml==3.8.0
MarkupSafe==1.1.0
multidict==4.5.2
py==1.7.0
pylast==1.8.0
pytest==3.1.2
redis==2.10.5
requests==2.21.0
six==1.12.0
slackclient==1.0.6
urllib3==1.24.1
websocket-client==0.54.0
Werkzeug==0.15.3
yarl==1.2.0
